.wrapper{
    width: 100%;
    height: 250vh;
    display: grid;
    border: 1px solid black;
    grid-template-areas:
        "hd hd"
        "nav nav"
        "s1 s2"
        "s3 s4"
        "ft ft";
    grid-gap:px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 7fr 1fr 4fr 4fr 1fr;
    margin: auto;
}
body
{
   margin:0pc;
}
.header{
   grid-area:hd;
   background-color: lightgreen;
   text-align: center;
   background-image: url("../img/Cookies.avif");
   background-size: cover;
   background-position: center;
   font-weight: bolder;
   color: white;
   font-size: 1.5rem;
}
header .Kafe{
   font-size: 5rem;
 
}
header .logo{
   width: 120px;
   height: auto;
}
nav{
   grid-area:nav;
   background-color: rgb(69, 85, 59);
   position: relative;
   min-height: 6rem;
   display: flex;
   align-items: center;
   justify-content:space-around;
}
#button{
   background-color:#a5b58d;
   color:white;
   height: 100%;
   width: 34%;
   border:1px solid black;
   display: flex;
   align-items: center;
   justify-content: center;
   text-decoration: none;
   font-size: 20px;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.sec1{
   grid-area:s1;
   background-color: lightcoral;
   background-image: url("../img/Cozy_Cafe.jpg");
    background-size: cover;
    background-position: center center;

}
.sec2{
   grid-area:s2;
   background-color: lightyellow;
   background-image: url("../img/Bullar.avif");
   background-size: cover;
   background-position: center center;
 
   
}
.sec3{
   grid-area:s3;
   background-color: lightpink;
   background-image: url("../img/Kakor.jpeg");
   background-size: cover;
   background-position:center center;
}
.sec4{
   grid-area:s4;
   background-color: lightgray;
   background-image: url("../img/Cozy_Cafe_Outside.jpg");
    background-size: cover;
    background-position: center center;
}
footer{
   grid-area:ft;
   background-color: lightgoldenrodyellow;
   text-align: center;
}
footer .kontakt{
   margin: 5px;
   font-size: 1.5rem;
   font-weight: bold;
   background-color: #f6efe8;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 
.header2{
   grid-area:hd;
   background-color: lightgreen;
   text-align: center;
   background-image: url("../img/Kakor.jpeg");
   background-size: cover;
   background-position: center;
   font-weight: bolder;
   color: white;
   font-size: 1.5rem;
}
 